.addTest {
    border-radius: 15px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.label {
    display: inline;
}

.inputSection {
    margin-bottom: 30px;
}

.addTestInput {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    background-color: rgb(80, 80, 80);
    color: rgb(180, 180, 180)
}

.time {
    margin-left: 20px;
}

.number {
    width: 50px;
    margin-left: 20px;
}

.addButton {
    display: block;
    margin: 20px auto;
    background-color: rgb(80, 80, 80);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(180, 180, 180);
    font-weight: 900; 
}